.menubox{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerdiv{
    position:relative;
    margin-top:12%;
}

.hexpos1{
    top: 0px;
    left: 35%;
}
.hexpos2{
    top: 60px;
    left: 0%;
}
.hexpos3{
    top: 60px;
    left: 70%;
}
.hexpos4{
    top: 120px;
    left: 35%;
}
.hexpos5{
    top: 180px;
    left: 0%;
}
.hexpos6{
    top: 180px;
    left: 70%;
}
.hexpos7{
    top: 240px;
    left: 35%;
}
.hexagon {
    position: absolute;
    margin: 0 auto;
    background-color: #000;
    text-align: center;
    border-radius: 10px;
    width: 102px;
    height: 64.26px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid #36454F;
    transform: rotate(90deg);
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.hexagon:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.hexagon:hover > p{
    opacity: 100.0%;
    transition: all 1s;
}
.hexagon:hover > div > p{
    opacity: 100.0%;
    transition: all 1s;
}
.hexagon:hover > img {
    opacity: 100.0%;
    transition: all 1s;
}

/* Creating pseudo-class */
.hexagon:before, .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    background-color: #000;
    top: -0.5vh;
    left: -0.5vh;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

/* Align them in such a way
that they form a hexagon */
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}

#heximg7{
    filter: invert(46%) sepia(48%) saturate(5809%) hue-rotate(344deg) brightness(105%) contrast(99%);
}

.heximg{
    filter: invert(85%) sepia(36%) saturate(311%) hue-rotate(343deg) brightness(102%) contrast(101%);
    margin-top: -50px;
    margin-left: -16px;
    visibility: hidden;
    position: absolute;
    opacity: 0.0%;
    transition: opacity 1s;
    font-family: 'Roboto';
    font-size: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.image{
    filter: invert(85%) sepia(36%) saturate(311%) hue-rotate(343deg) brightness(102%) contrast(101%);
    margin-top: 18px;
    opacity: 0.0%;
    transition: all 1s;
    font-family: 'Roboto';
    font-size: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.noselect {
    color: #FFE5B3;
    margin-top: 19px;
    opacity: 0.0%;
    visibility: visible;
    font-family: 'Roboto';
    font-size: 22px;
    transition: opacity 1s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}


body{
    background-color: #28282B;
}

// NOT MADE BY MYSELF


.hero {
    &.has-background {
        position: relative;
        overflow: hidden;
    }

    &-background {
        position: absolute;
        object-fit: cover;
        object-position: bottom;
        width: 100%;
        height: 100%;

        &.is-transparent {
            opacity: 0.3;
        }
    }
}

.burger {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    align-items: center;
}