.menubox{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerdiv{
    position:relative;
    margin-top: 17.00%;
}

.hexpos1{
    top: 0px;
    left: 35%;
}
.hexpos2{
    top: 60px;
    left: 0%;
}
.hexpos3{
    top: 60px;
    left: 70%;
}
.hexpos4{
    top: 120px;
    left: 35%;
}
.hexpos5{
    top: 180px;
    left: 0%;
}
.hexpos6{
    top: 180px;
    left: 70%;
}
.hexpos7{
    top: 240px;
    left: 35%;
}
.hexagon {
    position: absolute;
    margin: 0 auto;
    background-color: #000;
    text-align: center;
    border-radius: 10px;
    width: 102px;
    height: 64.26px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid #36454F;
    transform: rotate(90deg);
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.hexagon:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.hexagon:hover > p{
    opacity: 100.0%;
    transition: all 1s;
}
.hexagon:hover > div > p{
    opacity: 100.0%;
    transition: all 1s;
}
.hexagon:hover > img {
    opacity: 100.0%;
    transition: all 1s;
}

/* Creating pseudo-class */
.hexagon:before, .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    background-color: #000;
    top: -0.5vh;
    left: -0.5vh;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

/* Align them in such a way
that they form a hexagon */
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}

.about-me{
    margin-left: 25%;
    margin-top: 17.00%;
    width: 50%;
    height: 300px;
    color: whitesmoke;
}
.credits{
    margin: auto;
    margin-top: 5%;
    width: 50%;
    color: whitesmoke;
    text-align: center;
}
.credits-v{
    margin-top: 20px;
}
.gear{
    margin-top: 17.00%;
    width: 50%;
    height: 300px;
    color: whitesmoke;
}
.gear >table {
    border-collapse: collapse;
    width: 100%;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}


.repo-title{
    color: whitesmoke;
}
.repo-btn{
    transition: all 0.2s;
}

.repo-btn:hover{
    background-color: #36454F;
    transition: all 0.2s;
}

.contact-form{
    width: 50%;
    margin-left: 25%;
    height: 600px;
}

textarea {
    resize: none;
}

#shop{
    color: whitesmoke;
}
#shop > h6 {
    margin-left: 13px;
}

#socialcredit{
    z-index: 1031;
    opacity: 0;
}
#totalcredit{
    color: whitesmoke;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.toheaven{
    animation: ToHeavenAnimation 2s linear;
    animation-iteration-count: 1;
}

@keyframes ToHeavenAnimation {
    0%{
        opacity: 100%;
    }
    100%{
        top: -1000px;
        opacity: 0;
    }
}

@media screen and (min-width: 601px) {
    .about-me{
        text-align: left;
    }
    .about-me > * {
        margin-left: 50%;
    }
    .gear{
        margin-left: 33.33%;
    }
    .gear > table > tr > th > h3, .gear > table > tr > td > ul > li{
        text-align: left;
    }
    .about-me > h1, .repo-title {
        letter-spacing: 20px;
    }
    .img-me {
        width: 38.46%;
    }
}
@media screen and (max-width: 600px) {
    .about-me{
        text-align: center;
    }
    .about-me > * {
        margin-left: 0%;
    }
    .about-me > h1, .repo-title {
        letter-spacing: 10px;
    }

    .gear{
        margin-left: 17.00%;
    }
    .gear > table > tr > th > h3, .gear > table > tr > td > ul > li{
        text-align: center;
    }
    .img-me {
        width: 300px;
    }
    .biggerscreen{
        height: 1080px;
    }
}
.img-me {
    filter: contrast(120%) drop-shadow(0px 0px 32px black) grayscale(100%);
    transition: filter 2s;
}

.nav-button{
    margin-left: 13px;
}
.nav-switch{
    margin-left: 13px;
    color: whitesmoke;
}
#redsunintheskys{
    opacity: 0;
}
#shop{
    position:absolute;
    top:100px;
    right:50px;
}

#heximg7{
    filter: invert(46%) sepia(48%) saturate(5809%) hue-rotate(344deg) brightness(105%) contrast(99%);
}

.heximg{
    filter: invert(85%) sepia(36%) saturate(311%) hue-rotate(343deg) brightness(102%) contrast(101%);
    margin-top: -50px;
    margin-left: -16px;
    visibility: hidden;
    position: absolute;
    opacity: 0.0%;
    transition: opacity 1s;
    font-family: 'Roboto';
    font-size: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.image{
    filter: invert(85%) sepia(36%) saturate(311%) hue-rotate(343deg) brightness(102%) contrast(101%);
    margin-top: 18px;
    opacity: 0.0%;
    transition: all 1s;
    font-family: 'Roboto';
    font-size: 22px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.noselect {
    color: #FFE5B3;
    margin-top: 19px;
    opacity: 0.0%;
    visibility: visible;
    font-family: 'Roboto';
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: opacity 1s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}


body{
    background-color: #28282B;
}

// NOT MADE BY MYSELF


.hero {
    &.has-background {
        position: relative;
        overflow: hidden;
    }

    &-background {
        position: absolute;
        object-fit: cover;
        object-position: bottom;
        width: 100%;
        height: 100%;

        &.is-transparent {
            opacity: 0.3;
        }
    }
}

.burger {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    align-items: center;
}